.menuicon{
  display: none;
}
@media(max-width: 1600px){
  .slide-item.it1 img:nth-child(2){
  	right: 14%;
  	top: 14%;
    width: 500px;
  }
  .slide-item.it1 img:nth-child(3){
  	left: 44%;
  	bottom: 200px;
    width: 260px;
  }
  .slide-item.it1 img:nth-child(4){
  	top: 25%;
    left: 39%;
    width: 225px;
  }
.slide-item.it1 img:nth-child(5){
  top: 39%;
  right: 8%;
  width: 43px;
}
.slide-item.it2 img:nth-child(2){
	right: 50%;
	top: 145px;
  width: 94px;
}
.slide-item.it2 img:nth-child(3){
	left: 9%;
	top: 29%;
  width: 57px;
}
.slide-item.it2 img:nth-child(4){
	left: 30%;
	top: 20%;
  width: 18px;
}
.slide-item.it2 img:nth-child(5){
	left: 32%;
  top: 15%;
  width: 60px;
}
.slide-item.it2 img:nth-child(6){
	right: 22%;
	top: 135px;
  width: 84px;
}
.slide-item.it2 img:nth-child(7){
	right: 43%;
	top: 17%;
  width: 200px;
}
.slide-item.it2 img:nth-child(8){
	right: 23.8%;
	bottom: 87px;
  width: 404px;
}
.slide-item.it2 img:nth-child(9){
	right: 25%;
	bottom: 0;
	width: 427px;
}
.slide-item.it2 img:nth-child(10){
	right: 0;
	top: 80px;
  width: 130px;
}
.slide-item.it3 img:nth-child(2){
	left: 2%;
	top: 40px;
  width: 79px;
}
.slide-item.it3 img:nth-child(3){
	right: 50%;
	top: 20%;
  width: 91px;
}
.slide-item.it3 img:nth-child(4){
	right: 32%;
	top: 17%;
  width: 113px;
}
.slide-item.it3 img:nth-child(5){
	left: 36.5%;
	top: 22%;
  width: 300px;
}
.slide-item.it3 img:nth-child(6){
	right: 43%;
	bottom: 160px;
  width: 220px;
}
.slide-item.it3 img:nth-child(7){
	right: 11%;
	top: 37%;
  width: 30px;
}
.slide-item.it3 img:nth-child(8){
	right: 10%;
	top: 110px;
  width: 103px;
}
.slide-item.it3 img:nth-child(9){
	left: 21%;
	top: 37%;
  width: 26px;
}
.slide-item.it3 img:nth-child(10){
	left: 21%;
	bottom: 23%;
  width: 26px;
}
.slide-item.it4 img:nth-child(2){
	left: 26%;
	top: 31%;
  width: 254px;
}
.slide-item.it4 img:nth-child(3){
	right:34%;
	bottom: 21%;
  width: 230px;
}
.slide-item.it4 img:nth-child(4){
	right: 50%;
	top: 11%;
  width: 186px;
}

}
@media only screen and (max-width:1440px) {
  .map.row{
  	max-height: 770px;
  }
	h1{
		font-size: 65px;
	}
	.banner-text{
		width: auto;
		top: 180px;
	}
	h1 span{
		padding-left: 20px;
		text-align: left;
	}
	.home-content{
		width: 845px;
	}
}
@media (max-width: 1024px){
  .header-top.nav-down{
    top:40px!important;
  }
  .header-top{
    top:40px;
  }
  .map.row{
  	max-height: 600px;
  }
  .slide-item.it1 img:nth-child(2) {
      left: 56%;
      top: 19%;
      width: 315px;
  }
	.slide-item.it1 img:nth-child(3) {
    top: 51%;
    width: 200px;
    left: 42%;
	}
  .slide-item.it1 img:nth-child(4){
    width: 175px;
  }
  .slide-item.it2 img:nth-child(2){
    width: 65px;
  }
	.slide-item.it2 img:nth-child(3) {
	    width: 40px;
	}
  .slide-item.it2 img:nth-child(4) {
    left: 28%;
    top: 25%;
    width: 18px;
  }
  .slide-item.it2 img:nth-child(5) {
      left: 32%;
      top: 20%;
      width: 43px;
  }
  .slide-item.it2 img:nth-child(6){
    width: 60px;
  }
  .slide-item.it2 img:nth-child(7) {
      right: 41%;
      top: 24%;
      width: 150px;
  }
  .slide-item.it2 img:nth-child(8){
    width: 237px;
  }
  .slide-item.it2 img:nth-child(9){
    width: 260px;
  }
  .slide-item.it2 img:nth-child(10){
    width: 90px;
  }
  .slide-item.it3 img:nth-child(2){
    width: 49px;
  }
  .slide-item.it3 img:nth-child(3){
    width: 71px;
  }
	.slide-item.it3 img:nth-child(4) {
	    top: 73px;
	    width: 70px;
	}
  .slide-item.it3 img:nth-child(5){
    width: 200px;
    left: 39.5%;
  }
  .slide-item.it3 img:nth-child(6){
    width: 140px;
  }
  .slide-item.it3 img:nth-child(8){
    width: 73px;
  }
  .slide-item.it3 img:nth-child(9),
  .slide-item.it3 img:nth-child(10),
  .slide-item.it3 img:nth-child(7){
    width: 20px;
  }
  .slide-item.it4 img:nth-child(2) {
    left: 30%;
    top: 30%;
    width: 154px;
  }
  .slide-item.it4 img:nth-child(3) {
    right: 35%;
    width: 145px;
  }
  .slide-item.it4 img:nth-child(4) {
    top: 16%;
    width: 105px;
  }
}
@media (min-width: 993px) and (max-width: 1024px) {

	.header-top{
		margin: 0 7%;
	}

	h1 {
	    font-size: 45px;
	}
	.banner-text {
	    top: 70px;
	    left: 27%;
	}
	.products.banner img{
		object-fit: cover;
    		height: 500px;
	}
	.map.row{
		padding-left: 5%;
	}
	.line1,.line2{
		font-size: 60px;
	}
	.games{
		display: none;
	}
	.section:before{
	  content:"";
	  background: url(../images/dua-ngua.png?v=01) no-repeat;
	  width: 260px;
	  height: 374px;
	  position: absolute;
	  top: 325px;
	  left: -5px;
	  z-index: 999;
	  background-size: 100%;
	}
	.map.row{
		margin-top: 90px;
		height: 870px;
	}
	.logo{
		top: -33px;
	}
	.main-menu li a{
		margin: 0 5px;
	}
	.about-maybay{
		top: -175px;
	}
	.about-icon {
	    margin-top: 320px;
	}
	.about-content .ipad{
		padding-top: 80px!important;
	}
	.about p{
		margin-bottom: 15px;
	}
	.about:after{
		bottom: -320px;
	}
	about-zwww{
		position: relative;
		top: 60px;
	}
	.events h4 a{
		font-size: 19px;
		line-height: 1.4;
	}
}
@media (max-width: 810px){
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom:0;
  }
	.slide-item.it1 img:nth-child(3) {
    left: 42%;
    top: 57%;
    width: 150px;
	}
  .slide-item.it1 img:nth-child(5) {
    top: 38%;
    width: 25px;
  }
	.slide-item.it1 img:nth-child(6) {
	    width: 105px;
	}
	.slide-item.it1 img:nth-child(2) {
    width: 250px;
    top: 22%;
    left: 62%;
	}
	.slide-item.it2 img:nth-child(3) {
	    width: 32px;
      left: 3%;
	}
	.slide-item.it2 img:nth-child(9){
		width: 60px;
	}
	.slide-item.it2 img:nth-child(5) {
	    width: 32px;
	}
  .slide-item.it2 img:nth-child(8){
    width: 180px;
    right: 24.4%;
    bottom: 60px;
  }
  .slide-item.it2 img:nth-child(9){
    width: 205px;
  }
	.slide-item.it2 img:nth-child(4) {
	    width: 15px;
	}
	.slide-item.it3 img:nth-child(7) {
    		width: 15px;
	}
	.slide-item.it3 img:nth-child(6) {
	    width: 105px;
	    bottom: 85px;
	}
	.slide-item.it3 img:nth-child(4) {
	    top: 65px;
	    width: 65px;
	}
	.slide-item.it3 img:nth-child(2) {
	    width: 30px;
	}
	.slide-item.it3 img:nth-child(3) {
	    width: 50px;
	}
	.slide-item.it3 img:nth-child(5){
		width: 15px;
	}
	.slide-item.it4 img:nth-child(2){
		width: 150px;
	}
	.slide-item.it4 img:nth-child(3) {
    width: 150px;
    bottom: 80px;
    right: 33%;
	}
	.slide-item.it4 img:nth-child(4){
		width: 105px;
		bottom: 105px;
	}
	@-webkit-keyframes fall {
	    0% {
	        top: 0px;
	        -webkit-transform: rotate(30deg);
	        opacity: 1;
	        -moz-opacity: 1;
	        filter:alpha(opacity=10);
	    }

	    40% {
	        -webkit-transform: rotate(50deg);
	    }

	    80% {
	        -webkit-transform: rotate(80deg);
	    }

	    95% {
	        opacity: 1;
	        -moz-opacity: 1;
	        filter:alpha(opacity=10);
	    }

	    100% {
	        -webkit-transform: rotate(100deg);
	        top: 300px;
	        opacity: 0;
	        -moz-opacity: 0;
	        filter:alpha(opacity=0);
	    }
	}
	/*.main-banner{
		background-image: url(../images/slide-m.jpg);
		height: 983px;
	}*/
	#viewmap .modal-dialog{
		width: 700px;
	}
	.footer .footer-top, .footer .footer-bottom{
		font-size: 36px;
	}
	.about .ip p{
		text-align: right;
	}
	.about-maybay{
		position: relative;
		top: -130px;
		left: -15px;
	}
	.about-icon {
	    float: none;
	    margin-top: 153px;
	    position: absolute;
	    top: 270px;
	    left: 200px;
	}
	.ipad{
		padding-top: 30px!important;
	}
	.btnXemThem{
		text-align: right;
	    bottom: -65%;
	    position: absolute;
	    right: 15px;
	}
	.row.list .col-md-4{
		padding: 0;
	}
	.event-item .event-content{
		margin-bottom: 0;
		padding-top: 20px;
		min-height: auto;
	}
	.eco-items span{
		font-size: 14px;
	}
	.events .row {
	    padding-bottom: 0;
	    overflow: hidden;
	}
	.list{
		margin: 0;
	}
	.events .row.event-item .col-sm-4{
		padding: 0;
	}
	.event-item img.img-responsive{
		border-top-right-radius:0;
		border-top-left-radius:0;
	}
	.moreinfo{
		display: block;
		margin: 0 auto;
		text-align: right;
		float: none;
	}
	.logo{
		left: 40px;
		top:-29px
	}
  .logo-m{
    position: relative;
    top: 5px;
    left: 30px;
  }
  .header-top{
  	margin: 0 5%;
	height: 43px;
  }
  .main-menu li a{
  	font-size: 14px;
  	margin: 0;
	padding: 3px 25px;
  }
  .logo img{
	  width: 44px;
  }
  .home-content {
    padding: 50px 30px 45px;
    width: 80%;
    margin-bottom: 0;
}
  .header{
    margin-top: 0;
  }
  .section{
    background: #ffbdc5;
    padding-bottom: 0;
    padding-top: 15px;
    position: relative;
  }

  .cta{
    position: relative;
    z-index: 11;
    margin: -60px auto 0;
  }
  .tree-m{
    position: absolute;
    right: 0;
    top: 32px;
  }

  .map-left:before{
    display: none;
  }
  .home-content:after{
    top:inherit;
    width: 128px;
    height: 175px;
    right: -70px;
    background-size: 100%;
    bottom: -85px;
  }
  .home-content p{
    font-size: 16px;
  }

  #map-m{
    padding: 0 0 30px;
  }
  #map-m .bx-viewport{
    height: calc(100% + 30px)!important;
    padding-bottom: 30px;
    background: #f2fdff;
  }
  .map-item{
    background: #fa8f9d;
    border-radius: 15px;
    box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.17);
    padding-top: 30px;
  }
  .map-item[aria-hidden="false"]{
    border:2px solid #000;
    margin-left: 20px;
    margin-right: 20px;
  }
  .map-item.swiper-slide{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .map-item img{
    position: relative;
    margin: 0 auto;
  }
  .map-title{
    text-align: center;
    font-size: 14px;
    color:#010000;
    background: #fff;
    padding: 30px 0;
    margin-top: -20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .map-title h3{
    color:#fa8f9d;
    font-family: 'Bungee';
    font-size: 24px;
    text-transform: uppercase;
  }
  .map-intro{
    padding: 100px 30px 30px 70px;
    color:#ec5c89;
    font-size:55px;
    text-transform: uppercase;
    font-family: 'Bungee';
    line-height: 1.3;
  }
  .map-intro p{
    font-size: 14px;
    padding-top: 15px;
    color:#010000;
    font-family: 'Comfortaa';
    text-transform: none;
  }
  .stores .filter-box{
    margin-top: 105px;
    margin-bottom: 40px;
    position: relative;
  }
  .btnclose-m{
	  position: absolute;
    right: 12px;
    top: 10px;
  }
  .filter-m,.subbox{
    background: #01ac83;
    border:2px solid #000;
    padding:10px 12px;
    border-radius: 15px;
    box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.17);
  }
  .filter-search-m{
    padding: 7px 10px;
    background: transparent;
    border:2px solid #000;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 0.2) inset;
  }
  .box-search input{
	width: auto;
    	padding: 12px 20px 8px;
	border-radius: 15px;
	display: none;
	transition:all 1s ease-in;
	background-position: 95% 50%;
	position: relative;
  }
  .filter-m,
  .subbox h3{
    display: inline-block;
    font-family: 'Bungee';
    text-transform: uppercase;
    color:#fff;
    font-size: 16px;
  }
  .subbox{
    display: none;
    position: absolute;
    z-index: 99;
    top:0;
    left: 0;
    width: 100%;
  }
  .subbox h3{
    display: block;
    margin: 12px 0 20px;
  }
  .subbox h3 img{
	margin-right: 7px;
  }
  #filteroption{
	  margin-top: 15px;
  }
  #filteroption li{
	  border-radius: 18px;
	  background: #dbecef;
	  font-size: 14px;
	  font-family: 'Comfortaa';
	  font-weight: 700;
	  padding: 10px 17px;
	  display: inline-block;
	  margin-right: 12px;
  }
  #filteroption li img{
	  cursor: pointer;
  }
  .apply{
	  margin-bottom: 15px;
  }
  .custom-select{
	  width: 100%!important;
	  background: #fff;
	  color:#000;
	  margin-bottom: 15px;
	  box-shadow: 0 0;
  }
  .subbox select{
    width: 100%;
    margin-bottom: 15px;
  }
  .gallery{
	  margin: 30px;
  }
  .gallery:before,.gallery:after{
	  display: table;
	  clear: both;
    content: " ";
  }
  .gallery .swiper-container{
	  overflow: visible;
  }
  .gallery .swiper-wrapper{
	  display: block;
  }
  .gallery .swiper-slide{
	  width: calc(16.66666667% - 10px)!important;
	  padding: 2px;
       display: inline-block;
	  max-height: 100px;
    overflow: hidden;
    margin: 0 5px!important;
  }
  ul.social{
	  display: inline-block;
  }
  .social img{
	 width: auto;
	 display: inline-block;
	margin: 0 auto;
	text-align: center;
	padding: 0;
  }
  .social li{
	  text-align: center;
	  background: transparent;
	border: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 45px;
	margin-right: 15px;
  }
  .social{
	  padding-left: 5px;
  }
  /*.store.row{
	  margin: 0;
  }*/
  .store .item .subitem.active{
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.17);
  }
  .item-content{
	  border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 10px;
  }
  .store .subitem.active .item-content{
    opacity: 1;
  }

  .store .swiper-pagination{
	  position: relative;
  }
  .store .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	  display: inline-block;
  }
  .store .swiper-pagination-bullet.swiper-pagination-bullet-active{
	  background: #fdc10f;
  }
  .store .swiper-pagination-bullet{
	  background: transparent;
	  opacity: 1;
	  border:2px solid #000;
  }
.store .swiper-slide.item {
    padding-bottom: 20px;
}
  .item-title .col-xs-8{
	  text-align: left;
	  padding-left: 0;
	  font-size: 16px;
  }
#storedetail .item-content,
#store-detail .item-content{
	display: none;
}
#store-detail .store .item .subitem .photo,
#storedetail .store .item .subitem .photo{
	display: block;
	padding:10px 20px;
}
.stores .top-info {
    padding-top: 120px;
}
.stores #store-detail .top-info {
    padding-top: 20px;
}
.events{
	padding-top: 35px;
}
.events h3{
	margin-bottom: 30px;
}
a.viewmore-store{
	border-radius: 50%;
	width: 38px;
	height: 38px;
	background: #01ac83;
	position: absolute;
	right: 0;
 top: -8px;
}
.viewmore-store img{
	padding: 0;
    left: 10px;
    position: relative;
    bottom: 6px;
}
#event-detail .headline .title{
	display: block;
}
.item-content{
	position: relative;
	height: calc(100% - 164px);
	top: 0;
	padding:10px 20px;
}
.store ul {
    padding-bottom: 15px;
}
.store .item-title .col-sm-12{
	font-size: 14px;
	padding: 0;
	text-align: center;
}
.store .viewdetail{
	position: absolute;
    z-index: 999;
    bottom: -15px;
    right: 20px;
    padding-top: 3px;
    cursor: pointer;
    border: 2px solid #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    display: none;
    box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.17);
}
.store .item .photo.active + .viewdetail{
	display: block;
}
.store .item .photo.active{
	display: block;
}
  #photos{
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap:   0;
    -moz-column-count:    2;
    -moz-column-gap:      0px;
    column-count:         2;
    column-gap:           20px;
    padding: 0;
  }
  .banner{
    position: relative;
    /*top: -70px;*/
  }
  .banner-text{
    left: 28%;
    top: 110px;
  }
  .banner-text h1{
    font-size: 55px;
    line-height: 1.1;
  }
  .banner-text h1 span{
    text-align: left;
    padding-left: 10px;
  }
  .banner-text p{
    text-align: left;
    font-size: 16px;
    padding-left: 30px;
  }
  .product-content .filter-box{
    margin-top: 150px;
    margin-bottom: 30px;
  }
  .events h3,
  .eco-items h3{
    font-size: 24px;
    display: block;
    /*color:#01ac83;*/
  }/*
  .events .title-icon{
    position: absolute;
    right: 0;
    top:-6px;
    display: inline-block;
  }
  .events h3:before{
    display: none;
  }*/
  .detail-text{
    display: block;
    text-align: center;
    background: rgb(204, 229, 236);
     padding:50px 30px 50px!important
  }

  .product-detail .container{
	  padding: 0;
  }
  .product-detail h3{
    font-size: 24px;
  }
  .events{
    padding-left: 30px;
    padding-right: 30px;
  }
  .events .col-md-4{
    margin-bottom: 30px;
  }
  .events h3:before{
    bottom:12px;
  }
  .eco-items .col-md-3{
    margin-bottom: 30px;
  }
  .about-content{
    margin-top: 0px;
  }
  .banner img{
    margin: 0 auto;
  }
  .about p{
    text-align: left;
  }
  .container{
    padding-left: 30px;
    padding-right: 30px;
  }
  .about{
    padding-bottom: 0;
  }
  .about-content2{
    background:#ffbdc5;
    padding-top: 30px;
  }
  .modal-header .close{
    margin-top: 15px;
    margin-right: 20px;
  }
  #popup .modal-header .close {
    margin-top: 0px;
    margin-right: 0px;
  }
  #popup h3{
    font-size: 48px;
  }
  .step1 .box-form{
    padding-left:18px;
    padding-right: 18px;
  }
  .form .field,.step2 select, .step2 textarea{
    width: 100%;
  }
  .popup-footer:before,.popup-footer:after{
    display: none;
  }
  .form-intro{
    display: block;
  }

  .form{
    padding-bottom: 20px;
  }
  .group-intro ul li{
    width: auto;
    padding: 10px 6px;
  }
  .popup-footer{
    margin-top: -350px;
  }
  .info{
	 margin-top: 20px;
  }
  .info h3{
	  margin-top: 15px;
    font-size: 24px;
  }
  .info .address{
	  margin-bottom: 10px;
    font-size: 16px;
  }
  .info p{
	  margin-bottom: 20px;
  }
  .category li{
    display: inline-block;
  }
  #photo{
	  padding: 0;
  }
  #photos .item{
	  margin-bottom: 20px;
	  padding-bottom: 0;
  }
  #viewmap .modal-body {
    padding: 50px 30px;
}
.form .radio label:first-child {
    padding-right: 30px;
    padding-bottom: 15px;
}
.group-intro ul li{
	border:0;
}
.form ul{
	width: 100%;
}
.home-content p{
	line-height: 1.8;
}
#popupsuccess .modal-dialog {
    width: 95.5%;
}
.about:after{
  background: transparent;
  bottom:-420px;
}
.event-item .popup{
	display: none;
	padding-top: 20px;
  width: 100%;
}
.headline h3{
  display: block;
  font-size: 18px;
}
.events h4 a{
	font-size: 18px;
	color:#000!important;
  line-height: 1.5;
}
.event-content p{
	font-size: 15px;
	margin-bottom: 0;
  line-height: 1.5
}
.detail-text p{
	font-size: 15px;
}
.event-content p a{
  word-break: break-all;
}
.event-content h4{
	margin-bottom: 12px;
}
.event-item .event-content{
	padding-top: 20px;
	min-height: 120px;
}
.event-item .viewdetail {
    position: absolute;
    z-index: 999;
    bottom: -53px;
    right: 20px;
    padding-top: 3px;
    cursor: pointer;
    border: 2px solid #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.17);
    background: #fab537;
}
.eco-items .viewmore-store,
.events .viewmore-store{
	top: -7px;
	padding-top: 9px;
}

.detail-text p{
  margin-bottom: 5px;
}
.detail-text p:last-child{
  margin-bottom: 25px;
}
.map{
	position: relative;
}
.btn-cta {
    top: 75px;
}
.map.row {
    margin: 0;
    height: 970px;
    position: relative;
    padding-top: 100px;
    padding-left: 55px;
    background: #f2fdff;
}
.map-left{
	height: auto;
	padding-top: 0;
}
.map .col-md-5{
	height: auto!important;
}
.map-right{
	left: 0;
	position: relative;
}
.games{
	top: 400px;
}
.games img {
    right: -40px;
    width: 155px;
}
.text .line1,.text .line2{
	display: inline-block;
	font-size: 55px;
}
.btncontact{
	font-size: 18px;
}
.map-left p{
	margin-bottom: 20px;
}
.text .line2{
	padding-left: 10px;
}
.btn-cta{
	position: relative;
}
.btn-cta:before{
    background: url(../images/img-top-ipad.png) no-repeat;
    width: 295px;
    height: 195px;
    left: -30px;
    bottom: -30px;
    content: "";
    position: absolute;
    z-index: 11;
}
.footer {
    background: url(../images/footer-ipad.png?v=001) no-repeat top center;
    background-size: 100%;
    padding-top: 215px;
    padding-bottom: 85px;
    color: #fff;
    text-align: center;
}
.store .item .subitem .photo{
  min-height: 210px;
  padding: 0;
}
.store .item-title{
	padding:10px 0;
	min-height: 86px;
}
.store .item-title h3{
	margin-bottom: 0;
	font-size: 15px;
}
.store .item-title span{
	font-size: 12px;
}
}
@media(max-width: 767px){
	#store-content-detail .top-info{
		padding-top: 20px;
	}
	.category-m img{
		width: 40px!important;
	}
	.store .item-title h3{
		font-size: 16px;
	}
	.store ul li{
		font-size: 14px;
	}
	.store ul li img{
		width: 22px!important;
	}
	.slide-item.it1 img:nth-child(2) {
	    left: 26%;
	    top: 7%;
	    width: 287px;
	}
  .slide-item.it1 img:nth-child(3) {
	    left: 29%;
	    top: 30%;
	    width: 240px;
	}
	.slide-item.it1 img:nth-child(4) {
	    width: 76px;
      top: 49%;
      left: auto;
      right: 50%;
	}
	.slide-item.it2 img:nth-child(4) {
	    width: 46px;
	}
	.slide-item.it2 img:nth-child(2) {
	    width: 31px;
	    left: 5%;
	    top: 10%;
	}
	.slide-item.it2 img:nth-child(3) {
	    left: 68%;
      top:8%;
      width: 65px;
	}
	.slide-item.it2 img:nth-child(4) {
	    left: auto;
      right: 20%;
      width: 91px;
	    top: 35%;
	}
  .slide-item.it2 img:nth-child(5) {
      width: 233px;
      top: 36%;
      left: 24%;
  }
	.slide-item.it3 img:nth-child(2) {
    width: 76px;
    right: 38%;
    top: 6%;
    left: auto;
	}
	.slide-item.it3 img:nth-child(3) {
	    width: 46px;
	    left: 11%;
      top: 9%;
	}
  .slide-item.it3 img:nth-child(4){
    top: 13%;
    width: 200px;
    left: 30%;
  }
  .slide-item.it3 img:nth-child(5){
    top: 40%;
    width: 377px;
    left: -3.5%;
  }
  .slide-item.it3 img:nth-child(6){
    bottom: 130px;
    width: 398px;
    left: -15%;
  }
	.slide-item.it4 img:nth-child(2) {
    left: 12%;
    top: 30%;
    width: 22px;
	}
	.slide-item.it4 img:nth-child(3) {
    width: 19px;
    top: 15%;
    left: 20px;
	}
	.slide-item.it4 img:nth-child(4) {
    width: 230px;
    top: 23%;
    right: 20%;
	}
  .slide-item.it4 img:nth-child(5){
    width: 232px;
    bottom: 31%;
    left: -2%;
  }
	.slide-item.it5 img:nth-child(2) {
    width: 19px;
    top: 15%;
    left: 8%;
	}
	.slide-item.it5 img:nth-child(3) {
    width: 233px;
    top: 23%;
    left: 30%;
	}
  .slide-item.it5 img:nth-child(4){
    right: 3%;
    bottom: 20%;
    width: 173px;
  }
	.event-item .event-content{
		padding-bottom: 20px;
	}
	.social li{
		background: transparent;
		border:0;
		width: auto;
		height: auto;
		border-radius: inherit;
	}
	.social li img{
		padding:0;
		width: 60px;
	}
	.store .item-title .col-sm-12{
		text-align: left;
	}
	.about .ip p{
		text-align: left;
	}
	.store .item .subitem .photo{
   	  display: none;
   	  opacity: 1;
   	  /*min-height: 430px;*/
   	  padding: 0;
     }
     .store .item-title{
   	  padding: 15px 0;
	  border-radius: 10px;
     }
	.store .item-title .col-xs-4 img{
		border-radius: 10px;
	}
	.store .swiper-slide .item-title{
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.store .swiper-slide.item .subitem .photo{
		min-height: 380px;
	}
	.store .active .item-title{
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.store .item .subitem .photo.active{
		display: block;
	}
     .store .item {
       padding-bottom: 30px;
   }
	.menu-main{
       background: #fce8b4;
       display: none;
       position: absolute;
       top: 0;
       width: 100%;
       left: 0;
       border-bottom-left-radius: 30px;
       border-bottom-right-radius: 30px;
       box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.17);
     }
	.main-menu li{
       display: block;
       text-align: center;
       padding-top: 50px;
     }
     .main-menu li:last-child{
       padding-bottom: 55px;
     }
     .main-menu li a{
       font-size: 32px;
     }
     .main-menu li a span{
       position: relative;
       z-index: 2;
     }
     .main-menu li a:before{
       left: 0;
       top: 26px;
       right: 0;
       margin: 0 auto;
       z-index: 1;
     }
     .menuclose{
       margin-top: 10px!important;
       right: 26px;
       position: relative;
       z-index: 10;
     }
     .menuicon,.menuclose{
         display:block;
         margin-top: -5px;
         cursor: pointer;
     }
	.header-top{
       border-top-left-radius: 0;
       border-top-right-radius: 0;
       top:0;
       margin: 0;
     }
	.logo {
   	  left: 30px;
       top: 5px;
   }
   .menuicon, .menuclose{
   	margin-top: 0;
   }
   .logo-m img,.logo img{
   	width: 30px;
   }
   .section:after {
	  content: "";
	  position: absolute;
	  background: url(../images/bottom-shadow.png) no-repeat;
	  width: 100%;
	  height: 65px;
	  bottom: -60px;
	}
	.home-content:before{
       background: url(../images/img-top-m.png) no-repeat;
       width: 121px;
       height: 79px;
       left: 0;
       top: -50px;
       right: 0;
       margin: 0 auto;
     }
	.home-content p{
       font-size: 14px;
     }
	.home-content {
	    width: 74%;
	}
	.map-intro {
	    padding: 50px 30px 30px;
	    color: #ec5c89;
	    font-size: 36px;
	    text-transform: uppercase;
	    font-family: 'Bungee';
	    line-height: 1.3;
	}
	.footer{
        padding-top: 310px;
       background: url(../images/footer-m.png) no-repeat center top;
       background-size: 100%;
       padding-bottom: 0;
     }
     .footer .container{
   	  background: #4bbaa2;
       padding-bottom: 35px;
     }
     .footer .footer-top, .footer .footer-bottom{
       font-size: 22px;
     }
     .footer .footer-top{
       padding-top: 40px;
     }
     .footer p{
       font-size: 14px;
       margin-top: 15px;
       margin-bottom: 15px;
     }
     .footer .btncontact{
       margin-bottom: 60px;
       font-size: 22px;
       padding-left: 30px;
       padding-right: 30px;
     }
	.header-top.nav-down{
   	  top:0!important;
     }
	.section {
	    background: #ffbdc5;
	    padding-bottom: 150px;
	    position: relative;
	}
	.store .item-title h3{
		margin-top: 10px;
	}
	/*.store .item-title.active{
   	  border-radius: 10px;
     }*/
     .store .item-title span{
   	  font-size: 14px;
     }
	.store .swiper-slide{
   	  border:0;
   	  padding: 0;
     }
	.gallery .swiper-slide {
	    width: calc(33.3333% - 10px)!important;
	    padding: 2px;
	    display: inline-block;
	    max-height: 100px;
	    overflow: hidden;
	    margin: 0 5px!important;
	}
	.moreinfo{
		text-align: center;
	}
	.eco-items .row.list a{
		display: flex;
		align-items: center;
		background: #d8ebe7;
		padding: 5px 15px;
	  border-radius: 15px;
	}
	.eco-items .row.list a img{
		width: 30%;
		display: inline-block;
		border-radius: 15px;
	}
	.eco-items a span{
		position: relative;
	    width: 66%;
	    display: inline-block;
	    margin-left: 2%;
	    color: #000;
	    font-size: 15px;
	    border-radius: 0;
	    background: transparent;
	    padding: 10px;
	    line-height: 1.5;
	}
	.events .row{
		overflow: visible;
	}
	.btnXemThem{
		position: absolute;
		bottom: 35px;
	}
	.about:after{
	  background: #ffbdc5;
	}
	.header-top {
	    height: 52px;
	}
	.eco-items .row.list{
		margin: 0 -15px;
	}
	.group-intro ul li:hover, .group-intro ul li.active{
   	  background: transparent;
     }
     .group-intro ul li span{
   	  margin-bottom: 10px;
   	  display: block;
   	  padding: 15px 10px 5px;
     }
     .group-intro ul li.active span{
       background: #4bbaa2;
       border-radius: 15px;
     }
     .group-intro ul li:first-child img{
   	  width: 45px;
     }
     .group-intro ul li:nth-child(2) img{
   	  width: 36px;
     }
     .group-intro ul li:last-child img{
   	  width: 50px;
     }
	.form .radio, .group-intro,.form .left{
       width: 100%;
     }
	.banner-text h1{
		font-size: 45px;
	}
	.banner-text{
		left: 0;
		right: 0;
	}
	.banner-text p{
		padding-left: 0;
		text-align: center;
	}
	.banner-text h1 span,.banner-text h1{
		text-align: center;
	}
	.event-item img.img-responsive {
	    border-top-right-radius: 20px;
	    border-top-left-radius: 20px;
	}
	#ptgallery .swiper-slide {
	    padding-right: 0;
	}
	.prTitle{
		margin-top: 20px;
	}
	.breadcrum {
	    padding-top: 90px;
	}
	.pr-des.row{
		padding-top: 10px;
	}
	.pr-des .col-md-3{
		margin-bottom: 15px;
	}
	.photo-cover{
		margin-bottom: 30px;
	}
	.box-items .col-md-9,
	.box-cmt .col-md-8{
		border-left: 0;
		border-top: 1px solid #000;
		margin-left: 15px;
		margin-right: 15px;
		padding-top: 25px;
	}
	.box-items .col-md-3,
	.box-cmt .col-md-4{
		padding-top: 25px;
		padding-bottom: 25px;
		padding-right: 40px;
	}
	.box-items .col-md-3 img{
		margin: 0 auto;
	}
	.box-items .col-md-9 .col-md-6:first-child{
		padding-bottom: 10px;
	}
	.box-items .col-md-9 .col-md-6{
		text-align: left;
		padding: 0;
	}
	.cmtTitle{
		font-size: 25px;
	}
}
@media(max-width:375px){
	.home-content{
		width:82%;
	}
	.group-intro ul li {
	    width: 28%;
	}
	.footer-bottom h2{
		font-size: 26px;
	}
	.footer .footer-top, .footer .footer-bottom{
		font-size: 20px;
	}
	.footer .container {
	    padding-left: 15px;
	    padding-right: 15px;
	}
  .event-item .event-content{
  	min-height: 140px;
  }
}
@media(max-width:320px){
  .event-item .event-content{
  	min-height: 180px;
  }
}
