.menuicon{
  display: none;
}
@media only screen and (max-width:1440px) {
	h1{
		font-size: 65px;
	}
	.banner-text{
		width: auto;
		top: 180px;
	}
	h1 span{
		padding-left: 20px;
		text-align: left;
	}
}
@media only screen and (max-width: 768px){
	.moreinfo{
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}
  .logo-m{
    position: relative;
    top: 5px;
    left: 30px;
  }
  .menu-main{
    background: #fce8b4;
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.17);
  }
  .menuicon,.menuclose{
      display:block;
      margin-top: -5px;
      cursor: pointer;
  }
  .header-top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top:0;
    margin: 0;
  }
  .main-menu li{
    display: block;
    text-align: center;
    padding-top: 50px;
  }
  .main-menu li:last-child{
    padding-bottom: 55px;
  }
  .main-menu li a{
    font-size: 32px;
  }
  .main-menu li a span{
    position: relative;
    z-index: 2;
  }
  .main-menu li a:before{
    left: 0;
    top: 26px;
    right: 0;
    margin: 0 auto;
    z-index: 1;
  }
  .menuclose{
    margin-top: 10px!important;
    right: 26px;
    position: relative;
    z-index: 10;
  }
  .home-content{
    padding: 50px 30px 45px;
    width: 74%;
  }
  .header{
    margin-top: 0;
  }
  .section{
    background: #ffbdc5;
    padding-bottom: 150px;
    position: relative;
  }
  .section:after{
    content:"";
    position: absolute;
    background: url(../images/bottom-shadow.png) no-repeat;
    width: 100%;
    height: 65px;
    bottom: -60px;
  }
  .cta{
    position: relative;
    z-index: 11;
    margin: -60px auto 0;
  }
  .tree-m{
    position: absolute;
    right: 0;
    top: 32px;
  }
  .home-content:before{
    background: url(../images/img-top-m.png) no-repeat;
    width: 121px;
    height: 79px;
    left: 0;
    top: -50px;
    right: 0;
    margin: 0 auto;
  }
  .map-left:before{
    display: none;
  }
  .home-content:after{
    top:inherit;
    width: 128px;
    height: 175px;
    right: -35px;
    top: inherit;
    background-size: 100%;
  }
  .home-content p{
    font-size: 14px;
  }
  .footer{
    background: url(../images/footer-m.png) no-repeat center top;
    background-size: 100%;
    padding-bottom: 0;
  }
  .footer .container{
	  background: #4bbaa2;
    padding-bottom: 35px;
  }
  .footer .footer-top, .footer .footer-bottom{
    font-size: 22px;
  }
  .footer .footer-top{
    padding-top: 40px;
  }
  .footer p{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .footer .btncontact{
    margin-bottom: 60px;
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #map-m{
    padding: 0 0 30px;
  }
  #map-m .bx-viewport{
    height: calc(100% + 30px)!important;
    padding-bottom: 30px;
  }
  .map-item{
    background: #fa8f9d;
    border-radius: 15px;
    box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.17);
    padding-top: 30px;
    width: 280px!important;
  }
  .map-item[aria-hidden="false"]{
    border:2px solid #000;
    margin-left: 20px;
    margin-right: 20px;
  }
  .map-item.swiper-slide{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .map-item img{
    position: relative;
    margin: 0 auto;
  }
  .map-title{
    text-align: center;
    font-size: 14px;
    color:#010000;
    background: #fff;
    padding: 30px 0;
    margin-top: -20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .map-title h3{
    color:#fa8f9d;
    font-family: 'Bungee';
    font-size: 24px;
    text-transform: uppercase;
  }
  .map-intro{
    padding: 50px 30px 30px;
    color:#ec5c89;
    font-size:36px;
    text-transform: uppercase;
    font-family: 'Bungee';
    line-height: 1.3;
  }
  .map-intro p{
    font-size: 14px;
    padding-top: 15px;
    color:#010000;
    font-family: 'Comfortaa';
    text-transform: none;
  }
  .stores .filter-box{
    margin-top: 105px;
    margin-bottom: 40px;
    position: relative;
  }
  .btnclose-m{
	  position: absolute;
    right: 12px;
    top: 10px;
  }
  .filter-m,.subbox{
    background: #01ac83;
    border:2px solid #000;
    padding:10px 12px;
    border-radius: 15px;
    box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.17);
  }
  .filter-search-m{
    padding: 7px 10px;
    background: transparent;
    border:2px solid #000;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 0.2) inset;
  }
  .box-search input{
	width: auto;
    	padding: 12px 20px 8px;
	border-radius: 15px;
	display: none;
	transition:all 1s ease-in;
	background-position: 95% 50%;
	position: relative;
  }
  .filter-m,
  .subbox h3{
    display: inline-block;
    font-family: 'Bungee';
    text-transform: uppercase;
    color:#fff;
    font-size: 16px;
  }
  .subbox{
    display: none;
    position: absolute;
    z-index: 99;
    top:0;
    left: 0;
    width: 100%;
  }
  .subbox h3{
    display: block;
    margin: 12px 0 20px;
  }
  .subbox h3 img{
	margin-right: 7px;
  }
  #filteroption{
	  margin-top: 15px;
  }
  #filteroption li{
	  border-radius: 18px;
	  background: #dbecef;
	  font-size: 14px;
	  font-family: 'Comfortaa';
	  font-weight: 700;
	  padding: 10px 17px;
	  display: inline-block;
	  margin-right: 12px;
  }
  #filteroption li img{
	  cursor: pointer;
  }
  .apply{
	  margin-bottom: 15px;
  }
  .custom-select{
	  width: 100%!important;
	  background: #fff;
	  color:#000;
	  margin-bottom: 15px;
	  box-shadow: 0 0;
  }
  .subbox select{
    width: 100%;
    margin-bottom: 15px;
  }
  .gallery{
	  margin: 30px;
  }
  .gallery:before,.gallery:after{
	  display: table;
	  clear: both;
    content: " ";
  }
  .gallery .swiper-container{
	  overflow: visible;
  }
  .gallery .swiper-wrapper{
	  display: block;
  }
  .gallery .swiper-slide{
	  width: calc(33.3333% - 10px)!important;
	  padding: 2px;
       display: inline-block;
	  max-height: 100px;
    overflow: hidden;
    margin: 0 5px!important;
  }
  /*.store.row{
	  margin: 0;
  }*/
  .store .item .subitem.active{
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.17);
  }
  .store .subitem.active .item-content{
    opacity: 1;
  }
  .store .swiper-slide{
	  border:0;
	  padding: 0;
  }
  .store .swiper-pagination{
	  position: relative;
  }
  .store .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	  display: inline-block;
  }
  .store .swiper-pagination-bullet.swiper-pagination-bullet-active{
	  background: #fdc10f;
  }
  .store .swiper-pagination-bullet{
	  background: transparent;
	  opacity: 1;
	  border:2px solid #000;
  }
.store .swiper-slide.item {
    padding-bottom: 20px;
}
  .item-title .col-xs-8{
	  text-align: left;
	  padding-left: 0;
	  font-size: 16px;
  }
  .header-top.nav-down{
	  top:0!important;
  }
  .logo {
	  left: 30px;
    top: 5px;
}
.menuicon, .menuclose{
	margin-top: 0;
}
.logo-m img,.logo img{
	width: 30px;
}

  .store .item-title.active{
	  border-radius: 15px;
  }
  .store .item-title span{
	  font-size: 14px;
  }
  .store .item .subitem .photo{
	  display: none;
	  opacity: 1;
	  min-height: auto;
	  padding: 0;
  }
  .store .item-title{
	  padding: 15px 0;
  }
  .store .item {
    padding-bottom: 30px;
}
#storedetail .item-content,
#store-detail .item-content{
	display: none;
}
#store-detail .store .item .subitem .photo,
#storedetail .store .item .subitem .photo{
	display: block;
	padding:10px 20px;
}
.stores .top-info {
    padding-top: 120px;
}
.events{
	padding-top: 35px;
}
.events h3{
	margin-bottom: 30px;
}
a.viewmore-store{
	border-radius: 50%;
	width: 38px;
	height: 38px;
	background: #01ac83;
	position: absolute;
	right: 0;
 top: -8px;
}
.viewmore-store img{
	padding: 0;
    left: 10px;
    position: relative;
    bottom: 6px;
}
#event-detail .headline .title{
	display: block;
}
.item-content{
	position: relative;
	height: auto;
	padding: 20px;
}
.store ul {
    padding-bottom: 15px;
}
.store .item-title h3{
	margin-top: 10px;
}
.store .viewdetail{
	position: absolute;
    z-index: 999;
    bottom: -15px;
    right: 20px;
    padding-top: 3px;
    cursor: pointer;
    border: 2px solid #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    display: none;
    box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.17);
}
.store .item .photo.active + .viewdetail{
	display: block;
}
.store .item .photo.active{
	display: block;
}
  #photos{
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap:   0;
    -moz-column-count:    2;
    -moz-column-gap:      0px;
    column-count:         2;
    column-gap:           20px;
    padding: 0;
  }
  .banner{
    position: relative;
    /*top: -70px;*/
  }
  .banner-text{
    left: 40px;
    right: 40px;
    top: 90px;
  }
  .banner-text h1{
    font-size: 48px;
    line-height: 1.1;
  }
  .banner-text h1 span{
    text-align: left;
    padding-left: 10px;
  }
  .banner-text p{
    text-align: left;
    font-size: 16px;
  }
  .product-content .filter-box{
    margin-top: 150px;
    margin-bottom: 30px;
  }
  .events h3,
  .eco-items h3{
    font-size: 24px;
    display: block;
    /*color:#01ac83;*/
  }/*
  .events .title-icon{
    position: absolute;
    right: 0;
    top:-6px;
    display: inline-block;
  }
  .events h3:before{
    display: none;
  }*/
  .detail-text{
    display: block;
    text-align: center;
    background: rgb(204, 229, 236);
    padding-bottom: 50px;
  }
  .product-detail .container{
	  padding: 0;
  }
  .product-detail h3{
    font-size: 24px;
  }
  .events{
    padding-left: 30px;
    padding-right: 30px;
  }
  .events .col-md-4{
    margin-bottom: 30px;
  }
  .events h3:before{
    bottom:12px;
  }
  .eco-items .col-md-3{
    margin-bottom: 30px;
  }
  .about-content{
    margin-top: 0px;
  }
  .banner img{
    margin: 0 auto;
  }
  .about p{
    text-align: left;
  }
  .container{
    padding-left: 30px;
    padding-right: 30px;
  }
  .about{
    padding-bottom: 0;
  }
  .about-content2{
    background:#ffbdc5;
    padding-top: 30px;
  }
  .modal-header .close{
    margin-top: 15px;
    margin-right: 20px;
  }
  #popup .modal-header .close {
    margin-top: 0px;
    margin-right: 0px;
  }
  #popup h3{
    font-size: 48px;
  }
  .step1 .box-form{
    padding-left:18px;
    padding-right: 18px;
  }
  .form .field,.step2 select, .step2 textarea{
    width: 100%;
  }
  .popup-footer:before,.popup-footer:after{
    display: none;
  }
  .form-intro{
    display: block;
  }
  .form .radio, .group-intro,.form .left{
    width: auto;
  }
  .form{
    padding-bottom: 20px;
  }
  .group-intro ul li{
    width: auto;
    padding: 10px 6px;
  }
  .popup-footer{
    margin-top: -350px;
  }
  .info h3{
	  margin-top: 30px;
    font-size: 24px;
  }
  .info .address{
	  margin-bottom: 10px;
    font-size: 16px;
  }
  .info p{
	  margin-bottom: 20px;
  }
  .category li{
    display: inline-block;
  }
  #photo{
	  padding: 0;
  }
  #photos .item{
	  margin-bottom: 20px;
	  padding-bottom: 0;
  }
  #viewmap .modal-body {
    padding: 50px 30px;
}
.form .radio label:first-child {
    padding-right: 0;
    padding-bottom: 15px;
}
.group-intro ul li{
	border:0;
}
.group-intro ul li img{
	width: 47px;
}
.form ul{
	width: 100%;
}
.home-content p{
	line-height: 1.8;
}
#popupsuccess .modal-dialog {
    width: 95.5%;
}
.about:after{
  background: #ffbdc5;
  bottom:-420px;
}
.event-item .popup{
	display: none;
	padding-top: 20px;
  width: 100%;
}
.headline h3{
  display: block;
}
.events h4 a{
	font-size: 18px;
	color:#000!important;
  line-height: 1.5;
}
.event-content p{
	font-size: 14px;
	margin-bottom: 0;
  line-height: 1.5
}
.event-content p a{
  word-break: break-all;
}
.event-content h4{
	margin-bottom: 12px;
}
.event-item .event-content{
	padding-top: 20px;
	min-height: 120px;
}
.event-item .viewdetail {
    position: absolute;
    z-index: 999;
    bottom: -53px;
    right: 20px;
    padding-top: 3px;
    cursor: pointer;
    border: 2px solid #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.17);
    background: #fab537;
}
.eco-items .viewmore-store,
.events .viewmore-store{
	top: -7px;
	padding-top: 9px;
}
.eco-items .row a{
	display: flex;
	align-items: center;
	background: #d8ebe7;
	padding: 5px 15px;
  border-radius: 15px;
}
.eco-items .row a img{
	width: 30%;
	display: inline-block;
	border-radius: 15px;
}
.eco-items a span{
	position: relative;
    width: 66%;
    display: inline-block;
    margin-left: 2%;
    color: #000;
    font-size: 16px;
    border-radius: 0;
    background: transparent;
    padding: 10px;
    line-height: 1.5;
}
.detail-text p{
  margin-bottom: 5px;
}
.detail-text p:last-child{
  margin-bottom: 25px;
}
}
@media(max-width:375px){
	.home-content{
		width:82%;
	}
	.group-intro ul li {
	    width: 28%;
	}
	.footer-bottom h2{
		font-size: 26px;
	}
	.footer .footer-top, .footer .footer-bottom{
		font-size: 20px;
	}
	.footer .container {
	    padding-left: 15px;
	    padding-right: 15px;
	}
  .event-item .event-content{
  	min-height: 140px;
  }
}
@media(max-width:320px){
  .event-item .event-content{
  	min-height: 180px;
  }
}
